<h1><%= @list.name %></h1>
<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list) %>
  <h3><%= movie.title %></h3>
  <h4>Overview</h4>
  <p><%= movie.overview %></p>
  <h4>Rating: <%= movie.rating %>/10</h4>
  <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Sure?" }%>
<% end %>
