<div class="container">
  <div class="row">
    <div class="col 6">
      <h2>Create a new Bookmark for your <%= @list.name %> list</h2>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

